<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933047806630-2fseg5d88829op09fd3o633b6qo7os5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933047806630-2fseg5d88829op09fd3o633b6qo7os5c</string>
	<key>API_KEY</key>
	<string>AIzaSyALCIDu8Qj5k0mNEfDRsri-rXQdRFZuHkM</string>
	<key>GCM_SENDER_ID</key>
	<string>933047806630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ahuynh.ChatGPT</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-app-2b22b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-app-2b22b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933047806630:ios:2066a33cca57377ea8a267</string>
</dict>
</plist>